# Setup

In [41]:
import calendar
import numpy as np
import pandas as pd
from lets_plot import *

LetsPlot.setup_html(isolated_frame=True)

In [42]:
# df = pd.read_json("https://github.com/byuidatascience/data4missing/raw/master/data-raw/flights_missing/flights_missing.json")
df_nulls = pd.read_json("flights_missing.json")

# Q1

In [43]:
df_nulls

,airport_code,airport_name,month,year,num_of_flights_total,num_of_delays_carrier,num_of_delays_late_aircraft,num_of_delays_nas,num_of_delays_security,num_of_delays_weather,num_of_delays_total,minutes_delayed_carrier,minutes_delayed_late_aircraft,minutes_delayed_nas,minutes_delayed_security,minutes_delayed_weather,minutes_delayed_total
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",January,2005.0,35048,1500+,-999,4598,10,448,8355,116423.0,104415,207467.0,297,36931,465533
1,DEN,"Denver, CO: Denver International",January,2005.0,12687,1041,928,935,11,233,3153,53537.0,70301,36817.0,363,21779,182797
2,IAD,,January,2005.0,12381,414,1058,895,4,61,2430,NaN,70919,35660.0,208,4497,134881
3,ORD,"Chicago, IL: Chicago O'Hare International",January,2005.0,28194,1197,2255,5415,5,306,9178,88691.0,160811,364382.0,151,24859,638894
4,SAN,"San Diego, CA: San Diego International",January,2005.0,7283,572,680,638,7,56,1952,27436.0,38445,21127.0,218,4326,91552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,IAD,"Washington, DC: Washington Dulles International",December,2015.0,2799,182,183,61,0,17,443,NaN,15438,2826.0,0,1825,31164
920,ORD,"Chicago, IL: Chicago O'Hare International",December,2015.0,25568,923,1755,1364,11,180,4233,80962.0,132055,72045.0,435,22459,307956
921,SAN,"San Diego, CA: San Diego International",n/a,2015.0,6231,480,606,256,5,37,1383,25402.0,35796,9038.0,161,2742,73139
922,SFO,"San Francisco, CA: San Francisco International",December,2015.0,13833,757,1180,2372,9,147,4465,55283.0,96703,193525.0,285,13788,359584
923,SLC,"Salt Lake City, UT: Salt Lake City International",December,2015.0,8804,483,796,404,5,56,1745,37354.0,49549,13515.0,158,6693,107269

In [44]:
df_nulls.fillna("NaN", inplace=True)
df_nulls.replace("1500+", 1500, inplace=True)
df_nulls.replace(-999, "NaN", inplace=True)
df_nulls.replace("n/a", "NaN", inplace=True)
df_nulls.replace("", "NaN", inplace=True)
df_nulls.replace("Febuary", "February", inplace=True)
df = df_nulls.copy()

C:\Users\tman\AppData\Local\Temp\ipykernel_37720\81152227.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NaN' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_nulls.fillna("NaN", inplace=True)

In [45]:
# print(np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   airport_code                   924 non-null    object
 1   airport_name                   924 non-null    object
 2   month                          924 non-null    object
 3   year                           924 non-null    object
 4   num_of_flights_total           924 non-null    int64
 5   num_of_delays_carrier          924 non-null    object
 6   num_of_delays_late_aircraft    924 non-null    object
 7   num_of_delays_nas              924 non-null    int64
 8   num_of_delays_security         924 non-null    int64
 9   num_of_delays_weather          924 non-null    int64
 10  num_of_delays_total            924 non-null    int64
 11  minutes_delayed_carrier        924 non-null    object
 12  minutes_delayed_late_aircraft  924 non-null    int64
 13  minutes_delayed_nas            924 non-null    object
 14  minutes_delayed_security       924 non-null    int64
 15  minutes_delayed_weather        924 non-null    int64
 16  minutes_delayed_total          924 non-null    int64
dtypes: int64(9), object(8)
memory usage: 122.8+ KB

In [46]:
df

,airport_code,airport_name,month,year,num_of_flights_total,num_of_delays_carrier,num_of_delays_late_aircraft,num_of_delays_nas,num_of_delays_security,num_of_delays_weather,num_of_delays_total,minutes_delayed_carrier,minutes_delayed_late_aircraft,minutes_delayed_nas,minutes_delayed_security,minutes_delayed_weather,minutes_delayed_total
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",January,2005.0,35048,1500,NaN,4598,10,448,8355,116423.0,104415,207467.0,297,36931,465533
1,DEN,"Denver, CO: Denver International",January,2005.0,12687,1041,928,935,11,233,3153,53537.0,70301,36817.0,363,21779,182797
2,IAD,NaN,January,2005.0,12381,414,1058,895,4,61,2430,NaN,70919,35660.0,208,4497,134881
3,ORD,"Chicago, IL: Chicago O'Hare International",January,2005.0,28194,1197,2255,5415,5,306,9178,88691.0,160811,364382.0,151,24859,638894
4,SAN,"San Diego, CA: San Diego International",January,2005.0,7283,572,680,638,7,56,1952,27436.0,38445,21127.0,218,4326,91552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,IAD,"Washington, DC: Washington Dulles International",December,2015.0,2799,182,183,61,0,17,443,NaN,15438,2826.0,0,1825,31164
920,ORD,"Chicago, IL: Chicago O'Hare International",December,2015.0,25568,923,1755,1364,11,180,4233,80962.0,132055,72045.0,435,22459,307956
921,SAN,"San Diego, CA: San Diego International",NaN,2015.0,6231,480,606,256,5,37,1383,25402.0,35796,9038.0,161,2742,73139
922,SFO,"San Francisco, CA: San Francisco International",December,2015.0,13833,757,1180,2372,9,147,4465,55283.0,96703,193525.0,285,13788,359584
923,SLC,"Salt Lake City, UT: Salt Lake City International",December,2015.0,8804,483,796,404,5,56,1745,37354.0,49549,13515.0,158,6693,107269

In [47]:
json = df.iloc[[0]].to_json(orient='records')
print(json)

[{"airport_code":"ATL","airport_name":"Atlanta, GA: Hartsfield-Jackson Atlanta International","month":"January","year":2005.0,"num_of_flights_total":35048,"num_of_delays_carrier":1500,"num_of_delays_late_aircraft":"NaN","num_of_delays_nas":4598,"num_of_delays_security":10,"num_of_delays_weather":448,"num_of_delays_total":8355,"minutes_delayed_carrier":116423.0,"minutes_delayed_late_aircraft":104415,"minutes_delayed_nas":207467.0,"minutes_delayed_security":297,"minutes_delayed_weather":36931,"minutes_delayed_total":465533}]

# Q2

In [48]:
sum_minutes_delayed = df.groupby('airport_code', as_index=False)['minutes_delayed_total'].sum()
sum_minutes_delayed.sort_values(by='minutes_delayed_total', ascending=False, inplace=True)

In [49]:
sum_minutes_delayed
# "Chicago, IL: Chicago O'Hare International" is worst airport by total minutes delayed

# ... Realized this is not the question.

  airport_code  minutes_delayed_total
3          ORD               56356129
0          ATL               53983926
5          SFO               26550493
1          DEN               25173381
2          IAD               10283478
6          SLC               10123371
4          SAN                8276248

In [50]:
summary = df.groupby('airport_code').agg({
    'num_of_flights_total': 'sum',
    'num_of_delays_total': 'sum',
    'minutes_delayed_total': 'sum'
}).reset_index()

summary['proportion_delayed'] = round(summary['num_of_delays_total'] / summary['num_of_flights_total'], 3)
summary['avg_delay_hours'] = round(summary['minutes_delayed_total'] / 60 / summary['num_of_flights_total'], 3)

summary = summary.rename(columns={
    'num_of_flights_total': 'total_flights',
    'num_of_delays_total': 'total_delayed_flights'
})

summary['expected_delay_minutes'] = round(summary['minutes_delayed_total'] / summary['total_flights'], 3)
summary = summary.sort_values(by='expected_delay_minutes', ascending=False)

In [51]:
summary
# "San Francisco, CA: San Francisco International" is the airport with the highest expected delay minutes per flight.

,airport_code,total_flights,total_delayed_flights,minutes_delayed_total,proportion_delayed,avg_delay_hours,expected_delay_minutes
5,SFO,1630945,425604,26550493,0.261,0.271,16.279
3,ORD,3597588,830825,56356129,0.231,0.261,15.665
0,ATL,4430047,902443,53983926,0.204,0.203,12.186
2,IAD,851571,168467,10283478,0.198,0.201,12.076
1,DEN,2513974,468519,25173381,0.186,0.167,10.013
4,SAN,917862,175132,8276248,0.191,0.150,9.017
6,SLC,1403384,205160,10123371,0.146,0.120,7.214

# Q3

In [52]:
clean_months = df[df['month'] != 'NaN'].copy()

In [53]:
monthly_summary = clean_months.groupby('month').agg({
    'num_of_flights_total': 'sum',
    'num_of_delays_total': 'sum'
}).reset_index()

monthly_summary['proportion_delayed'] = round(monthly_summary['num_of_delays_total'] / monthly_summary['num_of_flights_total'], 3)

monthly_summary = monthly_summary.sort_values('proportion_delayed')

In [54]:
monthly_summary

        month  num_of_flights_total  num_of_delays_total  proportion_delayed
11  September               1227208               201905               0.165
9    November               1185434               197768               0.167
10    October               1301612               235166               0.181
0       April               1259723               231408               0.184
8         May               1227795               233494               0.190
7       March               1213370               250142               0.206
1      August               1335158               279699               0.209
3    February               1115814               248033               0.222
4     January               1193018               265001               0.222
5        July               1371741               319960               0.233
6        June               1305663               317895               0.243
2    December               1180278               303133               0.257

In [55]:
month_order = list(calendar.month_name)[1:]
monthly_summary['month'] = pd.Categorical(monthly_summary['month'], categories=month_order, ordered=True)

min_val = monthly_summary['proportion_delayed'].min()
max_val = monthly_summary['proportion_delayed'].max()
monthly_summary['color_val'] = (monthly_summary['proportion_delayed'] - min_val) / (max_val - min_val)

plot = (ggplot(monthly_summary, aes(x='month', y='proportion_delayed', fill='color_val')) +
        geom_bar(stat='identity') +
        scale_fill_gradient(name='Delay\nScale', low='green', high='red') +
        ggtitle("Proportion of Delayed Flights by Month") +
        xlab("Month") +
        ylab("Proportion Delayed") +
        theme(axis_text_x=element_text(angle=45, hjust=1)))

In [56]:
monthly_summary

,month,num_of_flights_total,num_of_delays_total,proportion_delayed,color_val
11,September,1227208,201905,0.165,0.000000
9,November,1185434,197768,0.167,0.021739
10,October,1301612,235166,0.181,0.173913
0,April,1259723,231408,0.184,0.206522
8,May,1227795,233494,0.190,0.271739
7,March,1213370,250142,0.206,0.445652
1,August,1335158,279699,0.209,0.478261
3,February,1115814,248033,0.222,0.619565
4,January,1193018,265001,0.222,0.619565
5,July,1371741,319960,0.233,0.739130
6,June,1305663,317895,0.243,0.847826
2,December,1180278,303133,0.257,1.000000

In [68]:
plot.show()

# Q4

In [58]:
df

,airport_code,airport_name,month,year,num_of_flights_total,num_of_delays_carrier,num_of_delays_late_aircraft,num_of_delays_nas,num_of_delays_security,num_of_delays_weather,num_of_delays_total,minutes_delayed_carrier,minutes_delayed_late_aircraft,minutes_delayed_nas,minutes_delayed_security,minutes_delayed_weather,minutes_delayed_total
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",January,2005.0,35048,1500,NaN,4598,10,448,8355,116423.0,104415,207467.0,297,36931,465533
1,DEN,"Denver, CO: Denver International",January,2005.0,12687,1041,928,935,11,233,3153,53537.0,70301,36817.0,363,21779,182797
2,IAD,NaN,January,2005.0,12381,414,1058,895,4,61,2430,NaN,70919,35660.0,208,4497,134881
3,ORD,"Chicago, IL: Chicago O'Hare International",January,2005.0,28194,1197,2255,5415,5,306,9178,88691.0,160811,364382.0,151,24859,638894
4,SAN,"San Diego, CA: San Diego International",January,2005.0,7283,572,680,638,7,56,1952,27436.0,38445,21127.0,218,4326,91552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,IAD,"Washington, DC: Washington Dulles International",December,2015.0,2799,182,183,61,0,17,443,NaN,15438,2826.0,0,1825,31164
920,ORD,"Chicago, IL: Chicago O'Hare International",December,2015.0,25568,923,1755,1364,11,180,4233,80962.0,132055,72045.0,435,22459,307956
921,SAN,"San Diego, CA: San Diego International",NaN,2015.0,6231,480,606,256,5,37,1383,25402.0,35796,9038.0,161,2742,73139
922,SFO,"San Francisco, CA: San Francisco International",December,2015.0,13833,757,1180,2372,9,147,4465,55283.0,96703,193525.0,285,13788,359584
923,SLC,"Salt Lake City, UT: Salt Lake City International",December,2015.0,8804,483,796,404,5,56,1745,37354.0,49549,13515.0,158,6693,107269

In [59]:
avg = df[df['num_of_delays_late_aircraft'] != 'NaN'].copy()['num_of_delays_late_aircraft'].mean()

df['num_of_delays_late_aircraft'] = df['num_of_delays_late_aircraft'].replace("NaN", round(avg, 3))

# Rule 1
weather_delays = df['num_of_delays_weather']

# Rule 2
late_aircraft_weather = 0.30 * df['num_of_delays_late_aircraft']

# Rule 3
apr_aug = ['April', 'May', 'June', 'July', 'August']
is_summer = df['month'].isin(apr_aug)
nas_weather = df['num_of_delays_nas'] * (0.40 * is_summer + 0.65 * ~is_summer)

# Combo of the 3
df['flights_delayed_by_weather'] = round((weather_delays + late_aircraft_weather + nas_weather), 3)

df[['airport_code',
    'month',
    'num_of_delays_weather',
    'num_of_delays_late_aircraft',
    'num_of_delays_nas',
    'flights_delayed_by_weather']].head(25)

C:\Users\tman\AppData\Local\Temp\ipykernel_37720\3681963691.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['num_of_delays_late_aircraft'] = df['num_of_delays_late_aircraft'].replace("NaN", round(avg, 3))

,airport_code,month,num_of_delays_weather,num_of_delays_late_aircraft,num_of_delays_nas,flights_delayed_by_weather
0,ATL,January,448,1109.104,4598,3769.431
1,DEN,January,233,928.000,935,1119.150
2,IAD,January,61,1058.000,895,960.150
3,ORD,January,306,2255.000,5415,4502.250
4,SAN,January,56,680.000,638,674.700
5,SFO,January,114,733.000,1166,1091.800
6,SLC,January,270,564.000,864,1000.800
7,ATL,February,399,1109.104,6104,4699.331
8,DEN,February,42,432.000,581,549.250
9,IAD,February,28,631.000,691,666.450
10,ORD,February,114,1222.000,3132,2516.400
11,SAN,February,23,491.000,671,606.450
12,SFO,February,57,457.000,1010,850.600
13,SLC,February,79,463.000,752,706.700
14,ATL,March,423,1109.104,5697,4458.781
15,DEN,March,85,586.000,530,605.300
16,IAD,March,43,724.000,777,765.250
17,ORD,March,159,1665.000,3686,3054.400
18,SAN,March,27,489.000,343,396.650
19,SFO,March,54,455.000,923,790.450
20,SLC,March,102,614.000,820,819.200
21,ATL,April,316,1109.104,2734,1742.331
22,DEN,April,57,350.000,440,338.000
23,IAD,April,32,517.000,677,457.900
24,ORD,April,93,980.000,1900,1147.000

# Q5

In [60]:
weather_delay_summary = df.groupby('airport_code').agg({
    'num_of_flights_total': 'sum',
    'flights_delayed_by_weather': 'sum'
}).reset_index()

weather_delay_summary['weather_delay_proportion'] = round(weather_delay_summary['flights_delayed_by_weather'] / weather_delay_summary['num_of_flights_total'], 3)

plot2 = (ggplot(weather_delay_summary, aes(x='airport_code', y='weather_delay_proportion', fill='weather_delay_proportion')) +
        geom_bar(stat='identity') +
        scale_fill_gradient(name='Delay\nScale', low='green', high='red') +
        ggtitle("Proportion of Flights Delayed by Weather at Each Airport") +
        xlab("Airport Code") +
        ylab("Proportion Delayed by Weather") +
        theme(axis_text_x=element_text(angle=45, hjust=1)))

In [61]:
plot2.show()

# SQ1

In [62]:
df

,airport_code,airport_name,month,year,num_of_flights_total,num_of_delays_carrier,num_of_delays_late_aircraft,num_of_delays_nas,num_of_delays_security,num_of_delays_weather,num_of_delays_total,minutes_delayed_carrier,minutes_delayed_late_aircraft,minutes_delayed_nas,minutes_delayed_security,minutes_delayed_weather,minutes_delayed_total,flights_delayed_by_weather
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",January,2005.0,35048,1500,1109.104,4598,10,448,8355,116423.0,104415,207467.0,297,36931,465533,3769.431
1,DEN,"Denver, CO: Denver International",January,2005.0,12687,1041,928.000,935,11,233,3153,53537.0,70301,36817.0,363,21779,182797,1119.150
2,IAD,NaN,January,2005.0,12381,414,1058.000,895,4,61,2430,NaN,70919,35660.0,208,4497,134881,960.150
3,ORD,"Chicago, IL: Chicago O'Hare International",January,2005.0,28194,1197,2255.000,5415,5,306,9178,88691.0,160811,364382.0,151,24859,638894,4502.250
4,SAN,"San Diego, CA: San Diego International",January,2005.0,7283,572,680.000,638,7,56,1952,27436.0,38445,21127.0,218,4326,91552,674.700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,IAD,"Washington, DC: Washington Dulles International",December,2015.0,2799,182,183.000,61,0,17,443,NaN,15438,2826.0,0,1825,31164,111.550
920,ORD,"Chicago, IL: Chicago O'Hare International",December,2015.0,25568,923,1755.000,1364,11,180,4233,80962.0,132055,72045.0,435,22459,307956,1593.100
921,SAN,"San Diego, CA: San Diego International",NaN,2015.0,6231,480,606.000,256,5,37,1383,25402.0,35796,9038.0,161,2742,73139,385.200
922,SFO,"San Francisco, CA: San Francisco International",December,2015.0,13833,757,1180.000,2372,9,147,4465,55283.0,96703,193525.0,285,13788,359584,2042.800
923,SLC,"Salt Lake City, UT: Salt Lake City International",December,2015.0,8804,483,796.000,404,5,56,1745,37354.0,49549,13515.0,158,6693,107269,557.400

In [63]:
df['num_of_delays_carrier'] = df['num_of_delays_carrier'].replace("NaN", np.nan)
df['num_of_delays_carrier'] = df['num_of_delays_carrier'].astype(float)

In [64]:
delay_summary = df.groupby('airport_code').agg({
    'num_of_flights_total': 'sum',
    'num_of_delays_carrier': 'sum',
    'num_of_delays_security': 'sum',
    'flights_delayed_by_weather': 'sum'
}).reset_index()

delay_summary['carrier_delay_prop'] = round(delay_summary['num_of_delays_carrier'] / delay_summary['num_of_flights_total'], 3)
delay_summary['security_delay_prop'] = round(delay_summary['num_of_delays_security'] / delay_summary['num_of_flights_total'], 3)
delay_summary['weather_delay_prop'] = round(delay_summary['flights_delayed_by_weather'] / delay_summary['num_of_flights_total'], 3)

In [65]:
delay_summary.head(5)

,airport_code,num_of_flights_total,num_of_delays_carrier,num_of_delays_security,flights_delayed_by_weather,carrier_delay_prop,security_delay_prop,weather_delay_prop
0,ATL,4430047,173075.0,833,314800.616,0.039,0.000,0.071
1,DEN,2513974,121885.0,985,149106.950,0.048,0.000,0.059
2,IAD,851571,47761.0,272,50842.650,0.056,0.000,0.060
3,ORD,3597588,146491.0,862,309954.074,0.041,0.000,0.086
4,SAN,917862,57130.0,490,48920.550,0.062,0.001,0.053

In [66]:
long_form = pd.melt(delay_summary,
                    id_vars='airport_code',
                    value_vars=['carrier_delay_prop', 'security_delay_prop', 'weather_delay_prop'],
                    var_name='delay_type',
                    value_name='proportion')

long_form['delay_type'] = long_form['delay_type'].replace({
    'carrier_delay_prop': 'Carrier',
    'security_delay_prop': 'Security',
    'weather_delay_prop': 'Weather'
})

plot3 = (ggplot(long_form, aes(x='airport_code', y='proportion', fill='delay_type')) +
        geom_bar(stat='identity', position='dodge') +
        ggtitle("Proportion of Flights Delayed by Type at Each Airport") +
        xlab("Airport Code") +
        ylab("Proportion of Flights Delayed") +
        scale_fill_manual(values=['#1f77b4', '#ff7f0e', '#2ca02c']) +
        theme(axis_text_x=element_text(angle=45, hjust=1)))

In [67]:
plot3.show()

# Quiz Questions